# Entorno virtual
venv/
.env

# Archivos de configuración de editores de texto/IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Archivos de compilación de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.log

# Migraciones
*/migrations/
!*/migrations/__init__.py  # Excluye el archivo __init__.py para mantener la estructura

# Archivos de bases de datos SQLite
db.sqlite3

# Archivos relacionados con pruebas
.pytest_cache/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Archivos generados por Docker
*.log
*.pid
*.seed
*.pid.lock
build/
*.env
.env.*

# Archivos de compilación o estáticos
staticfiles/
media/
node_modules/
npm-debug.log
yarn-error.log

# Configuración de sistemas operativos
.DS_Store  # macOS
Thumbs.db  # Windows
desktop.ini  # Windows

